@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #F7F8FC;
}
html {
    font-size: 130%;
}
.media-container {
    max-width: 24rem;
    background: #fff;
    padding:1.5rem;
    margin: 2rem auto;
    box-shadow: 0px 0px 92px -8px rgb(185, 226, 232);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.4rem 0;
}
.header > span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #DCD8D9;
}
.header > i {
    color: #B6B6B6;
    font-size: 1.5rem;
    cursor: pointer;
}
header {
    font-size: 1.05rem;
    font-weight: 500;
    text-align: center;
    color: #210E04;
    font-weight: 600;
}

.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.7rem;
    margin: 1.4rem 0;
}
.controller > i {
    font-size: 1.4rem;
    color: #B6B6B6;
    cursor: pointer;
}
.controller > i:nth-child(3) {
    font-size: 2.5rem !important;
    color: #949498 !important;
}
.songs {
    list-style: none;
    color: #8C96AB;
    font-weight: 600;
}
.songs > .single-song {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.active {
    color: #424D56;
    position: relative;
}
.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0.45rem, -50%);
    height: 5px;
    width: 5px;
    background-color: #18BFB7;
    border-radius: 50%;
}
.song-image {
    width: 100%;
    padding: 1.5rem;
}
.song-image > img {
    width: 100%;
    box-shadow: 0px 0px 81px -34px rgba(0,0,0,0.34);
}
input[type="range"] {
    width: 100%;
    height: 3px;
    margin-bottom: 0.3rem;
}

.singer {
    text-align: center;
    color: #7D7D7D;
    font-size: .8rem;
}
.song-duration {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}
